<a href="https://colab.research.google.com/github/Reigns-Liu/Colab-notbooks/blob/main/%E5%A4%8D%E5%88%B6%E2%80%9Cstarter_housing_ipynb%E2%80%9D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')
housing.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,...,2740,1020,2007,0,98038,47.3862,-122.048,3280,4033,429900.0
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,...,1040,420,1979,0,98023,47.3035,-122.382,1310,7865,233000.0
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,...,1340,0,1914,0,98116,47.5658,-122.389,1900,5800,455000.0
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,...,1440,0,1985,0,98023,47.3187,-122.390,1790,7488,258950.0
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,...,1080,700,1947,0,98117,47.6859,-122.395,1690,5962,555000.0

In [ ]:
import pandas as pd
import math

# Function to calculate Haversine distance.
def haversine_distance(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Radius of Earth in miles
    R = 3958.8  # Use 3958.8 for miles

    distance = R * c

    return distance

In [ ]:
# Locations of interest
seatle_lat, seatle_lon = 47.6062, -122.3321
tacoma_lat, tacoma_lon = 47.2529, -122.4443
spokane_lat, spokane_lon = 47.6588, -117.4260
vancouver_lat, vancouver_lon = 45.6387, -122.6615
bellevue_lat, bellevue_lon = 47.6104, -122.2007
kent_lat, kent_lon = 47.3809, -122.2348
everett_lat, everett_lon = 47.9789, -122.2021
renton_lat, renton_lon = 47.4799, -122.2034
yakima_lat, yakima_lon = 46.6022, -120.5059
federalway_lat, federalway_lon = 47.3223, -122.3126


# Calculate distances and create new columns
housing['dist_seatle'] = housing.apply(lambda row: haversine_distance(seatle_lat, seatle_lon, row['lat'], row['long']), axis=1)
housing['dist_tacoma'] = housing.apply(lambda row: haversine_distance(tacoma_lat, tacoma_lon, row['lat'], row['long']), axis=1)
housing['dist_spokane'] = housing.apply(lambda row: haversine_distance(spokane_lat, spokane_lon, row['lat'], row['long']), axis=1)
housing['dist_vancouver'] = housing.apply(lambda row: haversine_distance(vancouver_lat, vancouver_lon, row['lat'], row['long']), axis=1)
housing['dist_bellevue'] = housing.apply(lambda row: haversine_distance(bellevue_lat, bellevue_lon, row['lat'], row['long']), axis=1)
housing['dist_kent'] = housing.apply(lambda row: haversine_distance(kent_lat, kent_lon, row['lat'], row['long']), axis=1)
housing['dist_everett'] = housing.apply(lambda row: haversine_distance(everett_lat, everett_lon, row['lat'], row['long']), axis=1)
housing['dist_renton'] = housing.apply(lambda row: haversine_distance(renton_lat, renton_lon, row['lat'], row['long']), axis=1)
housing['dist_yakima'] = housing.apply(lambda row: haversine_distance(yakima_lat, yakima_lon, row['lat'], row['long']), axis=1)
housing['dist_federalway'] = housing.apply(lambda row: haversine_distance(federalway_lat, federalway_lon, row['lat'], row['long']), axis=1)
housing.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,dist_seatle,dist_tacoma,dist_spokane,dist_vancouver,dist_bellevue,dist_kent,dist_everett,dist_renton,dist_yakima,dist_federalway
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,...,20.173133,20.721807,216.447530,124.214882,17.052220,8.746682,41.574673,9.729764,90.639151,13.148986
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,...,21.044311,4.555412,232.683373,115.794012,22.833952,8.723357,47.411670,14.776432,100.878680,3.500968
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,...,3.850120,21.773630,231.223105,133.777884,9.300320,14.665475,29.833091,10.498584,110.818808,17.199022
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,...,20.047832,5.210254,232.913155,116.794441,22.009095,8.441253,46.446781,14.149751,101.705615,3.633835
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,...,6.236804,30.006222,231.154895,142.012553,10.440773,22.359558,22.133583,16.802586,116.132257,25.415305

# Data Exploration

In [ ]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               20000 non-null  int64
 1   date             20000 non-null  object
 2   bedrooms         20000 non-null  int64
 3   bathrooms        20000 non-null  float64
 4   sqft_living      20000 non-null  int64
 5   sqft_lot         20000 non-null  int64
 6   floors           20000 non-null  float64
 7   waterfront       20000 non-null  int64
 8   view             20000 non-null  int64
 9   condition        20000 non-null  int64
 10  grade            20000 non-null  int64
 11  sqft_above       20000 non-null  int64
 12  sqft_basement    20000 non-null  int64
 13  yr_built         20000 non-null  int64
 14  yr_renovated     20000 non-null  int64
 15  zipcode          20000 non-null  int64
 16  lat              20000 non-null  float64
 17  long             20000 non-null  float64
 18  sqft_living15    20000 non-null  int64
 19  sqft_lot15       20000 non-null  int64
 20  price            20000 non-null  float64
 21  dist_seatle      20000 non-null  float64
 22  dist_tacoma      20000 non-null  float64
 23  dist_spokane     20000 non-null  float64
 24  dist_vancouver   20000 non-null  float64
 25  dist_bellevue    20000 non-null  float64
 26  dist_kent        20000 non-null  float64
 27  dist_everett     20000 non-null  float64
 28  dist_renton      20000 non-null  float64
 29  dist_yakima      20000 non-null  float64
 30  dist_federalway  20000 non-null  float64
dtypes: float64(15), int64(15), object(1)
memory usage: 4.7+ MB

In [ ]:
features = ["bedrooms", "bathrooms", "sqft_living", "sqft_lot", "floors", "waterfront",
            "view", "sqft_above", "sqft_basement", "yr_built", "yr_renovated", "zipcode",
            "lat", "long", "sqft_living15", "sqft_lot15", 'dist_seatle', 'dist_tacoma', 'dist_spokane',
            'dist_vancouver',	'dist_bellevue',	'dist_kent',	'dist_everett',	'dist_renton',	'dist_yakima',	'dist_federalway']

for feature in features:
    print(housing[feature].value_counts(ascending=True, dropna=True))

11       1
33       1
10       3
9        6
0       11
8       12
7       36
1      179
6      251
5     1478
2     2567
4     6354
3     9101
Name: bedrooms, dtype: int64
7.75       1
7.50       1
8.00       2
6.50       2
6.25       2
6.75       2
0.50       4
5.75       4
6.00       5
0.00       8
1.25       8
5.50       9
5.25      13
5.00      19
4.75      21
0.75      63
4.25      69
4.50      92
4.00     131
3.75     146
3.25     545
3.50     681
3.00     684
2.75    1098
1.50    1346
2.00    1770
2.25    1878
1.75    2842
1.00    3552
2.50    5002
Name: bathrooms, dtype: int64
2753      1
1484      1
2229      1
1778      1
1961      1
       ...
1820    121
1660    122
1440    124
1300    126
1400    127
Name: sqft_living, Length: 995, dtype: int64
9961       1
7502       1
11334      1
12905      1
6053       1
        ...
7500     112
7200     206
4000     235
6000     258
5000     337
Name: sqft_lot, Length: 9297, dtype: int64
3.5       7
2.5     149
3.0     577
1.5    1758
2.0    7655
1.0    9854
Name: floors, dtype: int64
1      151
0    19849
Name: waterfront, dtype: int64
4      299
1      311
3      471
2      889
0    18030
Name: view, dtype: int64
2932      1
2298      1
2415      1
1484      1
2229      1
       ...
1340    167
1220    176
1200    186
1010    189
1300    194
Name: sqft_above, Length: 908, dtype: int64
2250        1
946         1
2050        1
906         1
2570        1
        ...
800       191
500       192
700       205
600       207
0       12180
Name: sqft_basement, Length: 301, dtype: int64
1934     21
1935     23
1901     24
1902     27
1933     28
       ...
2003    393
2004    405
2006    418
2005    430
2014    515
Name: yr_built, Length: 116, dtype: int64
1956        1
1946        1
1948        1
1954        1
1944        1
        ...
2013       33
2005       34
2003       34
2014       86
0       19171
Name: yr_renovated, Length: 70, dtype: int64
98039     46
98148     49
98024     78
98010     90
98109     99
        ...
98117    521
98115    530
98052    536
98038    550
98103    563
Name: zipcode, Length: 70, dtype: int64
47.2781     1
47.2073     1
47.3016     1
47.4218     1
47.4582     1
           ..
47.5322    15
47.5402    15
47.6711    16
47.6624    17
47.5491    17
Name: lat, Length: 4973, dtype: int64
-121.731      1
-121.784      1
-121.417      1
-122.435      1
-121.820      1
           ...
-122.288     92
-122.300     93
-122.372     93
-122.362     99
-122.290    111
Name: long, Length: 742, dtype: int64
2927      1
1745      1
1138      1
3836      1
2594      1
       ...
1610    159
1500    163
1440    175
1560    177
1540    183
Name: sqft_living15, Length: 756, dtype: int64
4033       1
5811       1
20152      1
4450       1
17238      1
        ...
7500     134
7200     190
6000     262
4000     332
5000     397
Name: sqft_lot15, Length: 8310, dtype: int64
20.173133    1
8.403175     1
9.575617     1
23.105449    1
20.457294    1
            ..
4.085796     4
5.977053     4
15.291754    4
6.195357     4
3.430145     4
Name: dist_seatle, Length: 19322, dtype: int64
20.721807    1
33.370209    1
31.713178    1
6.900402     1
6.966848     1
            ..
28.917068    4
29.933981    4
28.382900    4
18.813602    4
28.005598    4
Name: dist_tacoma, Length: 19322, dtype: int64
216.447530    1
226.550898    1
219.612047    1
229.183981    1
229.835446    1
             ..
228.542450    4
230.785393    4
214.003317    4
229.493967    4
229.311970    4
Name: dist_spokane, Length: 19322, dtype: int64
124.214882    1
145.216584    1
142.136769    1
114.189499    1
116.614800    1
             ..
140.856920    4
141.943609    4
135.193891    4
130.642679    4
139.979330    4
Name: dist_vancouver, Length: 19322, dtype: int64
17.052220    1
9.128176     1
4.563103     1
23.803586    1
21.502120    1
            ..
7.429471     4
10.066991    4
9.694480     4
9.385174     4
7.736884     4
Name: dist_bellevue, Length: 19322, dtype: int64
8.746682     1
23.985842    1
20.075656    1
8.088330     1
6.366215     1
            ..
20.225009    4
22.139448    4
15.213189    4
10.772347    4
19.645835    4
Name: dist_kent, Length: 19322, dtype: int64
41.574673    1
18.052867    1
21.830510    1
49.020509    1
46.539104    1
            ..
22.573137    4
22.081722    4
31.214798    4
32.610037    4
23.555357    4
Name: dist_everett, Length: 19322, dtype: int64
9.729764     1
17.520822    1
13.079738    1
15.026013    1
12.971255    1
            ..
14.257894    4
16.518770    4
9.780425     4
7.179218     4
13.904429    4
Name: dist_renton, Length: 19322, dtype: int64
90.639151     1
114.465033    1
106.473231    1
96.479791     1
98.630394     1
             ..
113.177501    4
115.779176    4
96.413627     4
107.260649    4
113.242167    4
Name: dist_yakima, Length: 19322, dtype: int64
13.148986    1
27.868246    1
24.936316    1
3.491174     1
0.944903     1
            ..
23.722020    4
25.258831    4
20.659019    4
13.555268    4
22.972340    4
Name: dist_federalway, Length: 19322, dtype: int64

In [ ]:
housing.replace()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,dist_seatle,dist_tacoma,dist_spokane,dist_vancouver,dist_bellevue,dist_kent,dist_everett,dist_renton,dist_yakima,dist_federalway
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,...,20.173133,20.721807,216.447530,124.214882,17.052220,8.746682,41.574673,9.729764,90.639151,13.148986
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,...,21.044311,4.555412,232.683373,115.794012,22.833952,8.723357,47.411670,14.776432,100.878680,3.500968
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,...,3.850120,21.773630,231.223105,133.777884,9.300320,14.665475,29.833091,10.498584,110.818808,17.199022
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,...,20.047832,5.210254,232.913155,116.794441,22.009095,8.441253,46.446781,14.149751,101.705615,3.633835
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,...,6.236804,30.006222,231.154895,142.012553,10.440773,22.359558,22.133583,16.802586,116.132257,25.415305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5272200045,20141113T000000,3,1.50,1000,6914,1.0,0,0,3,...,7.500796,32.419226,227.583355,144.334347,9.052134,23.375075,19.062354,17.074348,114.718201,27.093440
19996,9578500790,20141111T000000,3,2.50,3087,5002,2.0,0,0,3,...,21.350862,5.423351,231.210199,115.566946,22.709218,7.866180,47.581672,14.331507,99.316362,2.422369
19997,7202350480,20140930T000000,3,2.50,2120,4780,2.0,0,0,3,...,14.895433,35.295740,214.282048,144.232389,9.244650,22.791557,22.043560,16.027567,103.437149,28.032103
19998,1723049033,20140620T000000,1,0.75,380,15000,1.0,0,0,3,...,8.660986,16.751473,228.576076,128.303513,10.605279,8.051749,34.857764,5.585439,104.910653,10.976014
19999,6147650280,20150325T000000,4,2.50,3130,5999,2.0,0,0,3,...,18.835060,18.527706,218.837248,123.499500,16.367298,6.356190,41.403504,8.245699,92.477629,10.861367

# Data Analysis and Plots

In [ ]:
import plotly.express as px

# Model

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

# Split features and target variable
X = housing[["bedrooms", "bathrooms", "sqft_living", "sqft_lot", "floors", "waterfront",
            "view", "sqft_above", "sqft_basement", "yr_built", "yr_renovated", "zipcode",
            "lat", "long", "sqft_living15", "sqft_lot15", 'dist_seatle', 'dist_tacoma', 'dist_spokane',
            'dist_vancouver',	'dist_bellevue',	'dist_kent',	'dist_everett',	'dist_renton',	'dist_yakima',
            'dist_federalway']]
y = housing["price"]

# Identify numeric and categorical columns
numeric_cols = X.select_dtypes(include=["number"]).columns
categorical_cols = X.select_dtypes(include=["object"]).columns

# Apply transformations to numeric and categorical columns
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

# Combine transformations
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_cols),
        ("cat", categorical_transformer, categorical_cols)
    ]
)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocess data
X_train_scaled = preprocessor.fit_transform(X_train)
X_test_scaled = preprocessor.transform(X_test)

# Train the model (Gradient Boosting)
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Calculate RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("RMSE:", rmse)

# Feature Importance Analysis (Gradient Boosting has built-in feature importance)
importance = model.feature_importances_
feature_importance_df = pd.DataFrame({"Feature": preprocessor.get_feature_names_out(), "Importance": importance})
feature_importance_df = feature_importance_df.sort_values(by="Importance", ascending=False)
print(feature_importance_df)

RMSE: 140727.65634533382
                 Feature  Importance
2       num__sqft_living    0.485110
16      num__dist_seatle    0.139423
14    num__sqft_living15    0.078155
19   num__dist_vancouver    0.043057
20    num__dist_bellevue    0.041096
17      num__dist_tacoma    0.040540
7        num__sqft_above    0.038748
6              num__view    0.034237
5        num__waterfront    0.022887
22     num__dist_everett    0.014970
12              num__lat    0.011248
23      num__dist_renton    0.010203
1         num__bathrooms    0.008512
24      num__dist_yakima    0.007591
25  num__dist_federalway    0.005447
13             num__long    0.003749
3          num__sqft_lot    0.003243
9          num__yr_built    0.003047
8     num__sqft_basement    0.002242
0          num__bedrooms    0.001741
10     num__yr_renovated    0.001480
15       num__sqft_lot15    0.001449
18     num__dist_spokane    0.001257
11          num__zipcode    0.000398
21        num__dist_kent    0.000106
4            num__floors    0.000064

In [ ]:
predictions_df = pd.DataFrame({"Actual": y_test, "Predicted": y_pred})
predictions_df.to_csv("predictions.csv", index=False)

feature_importance_df.to_csv("feature_importances.csv", index=False)